<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/styles.css">
    <title>TechNova Development</title>
</head>
<body>
    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <h1>TECHNOVA DEVELOPMENT</h1>
                    <nav id="nav" class="">
                        <ul id="links">
                            <li><a href="index.html" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
                            <li><a href="quienes_somos.html" onclick="seleccionar(this)">QUIENES SOMOS</a></li>
                            <li><a href="servicios.html" onclick="seleccionar(this)">SERVICIOS</a></li>
                            <li><a href="noticias.html" onclick="seleccionar(this)">NOTICIAS</a></li>
                            <li><a href="contacto.html" onclick="seleccionar(this)">CONTACTO</a></li>
                        </ul>
                    </nav>

                    <!-- Icono del menu responsive -->
                    <div id="icono-nav" onclick="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>


                    <div class="redes">
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                    </div>
                </div>
            </header>
            <div class="presentacion">
                <h2>QUIENES SOMOS</h2>
                <p class="descripcion">En TechNova Development, somos un grupo de profesionales apasionados por la tecnología, el desarrollo y la innovación. Contamos con un equipo de desarrolladores, diseñadores y especialistas en tecnología comprometidos con la creación de soluciones digitales únicas y adaptadas a las necesidades de cada cliente. Nuestra misión es ofrecer productos tecnológicos de calidad que potencien el crecimiento y la transformación digital de las empresas.</p>
                <a href="#aqui">Nustro Equipo</a>
            </div>
        </div>
    </section>
    <h2 class="h2" id="aqui">Nuestro Equipo</h2>
    <section id="sobremi">
        <div class="contenedor-foto">
            <img src="../static/images/foto.jpg" alt="">
        </div>
        <div class="sobremi">
            <h2>Hola, Soy <span>María Torres</span> </h2>
            <h3>Fundador</h3>
            <p>Fundadora y CEO, con más de 10 años de experiencia en la industria tecnológica y desarrollo de software a medida.</p>
            <a href="#">Descargar CV</a>
        </div>
    </section>
    <section id="sobremi">
        <div class="contenedor-foto">
            <img src="../static/images/foto.jpg" alt="">
        </div>
        <div class="sobremi">
            <h2>Hola, Soy <span>José Martínez</span> </h2>
            <h3>Director de Tecnologia</h3>
            <p>Director de Tecnología, especialista en arquitectura de software y desarrollo de aplicaciones móviles.</p>
            <a href="#">Descargar CV</a>
        </div>
    </section>
    <section id="sobremi">
        <div class="contenedor-foto">
            <img src="../static/images/foto.jpg" alt="">
        </div>
        <div class="sobremi">
            <h2>Hola, Soy <span>Sofía Valdés</span> </h2>
            <h3>Directora de UX/UI</h3>
            <p>Directora de UX/UI, encargada de crear experiencias de usuario optimizadas y diseños intuitivos.</p>
            <a href="#">Descargar CV</a>
        </div>
    </section>
    <section id="sobremi">
        <div class="contenedor-foto">
            <img src="../static/images/foto.jpg" alt="">
        </div>
        <div class="sobremi">
            <h2>Hola, Soy <span>Alejandro Gómez</span> </h2>
            <h3>Gerente de Proyectos</h3>
            <p>Gerente de Proyectos, responsable de la gestión y entrega de proyectos tecnológicos de gran escala.</p>
            <a href="#">Descargar CV</a>
        </div>
    </section>
</body>
</html>